<div class="container">
  <app-series-card *ngFor="let series of series" [series]="series"  class="series-card"></app-series-card>
</div>

<div class="pagination-container">
  <button class="pagination-button prev" [disabled]="currentPage <= 1" (click)="goToPreviousPage()">
    <span class="arrow arrow-left"></span> Previous
  </button>
  
  <div class="pagination-info">
    Page {{ currentPage }} out of {{maxPages}}
  </div>
  
  <button class="pagination-button next" [disabled]="currentPage >= maxPages" (click)="goToNextPage()">
    Next <span class="arrow arrow-right"></span>
  </button>
</div>
