
<div class="container d-flex flex-wrap justify-content-center gap-3 my-5 px-3" style="max-width: 1200px;">

  <div class="col-12 d-flex justify-content-between align-items-center gradient-container p-3 rounded">
    <div>
      <button class="custom-btn" (click)="goTo('movie')" #movieBTN>Movies</button>
      <button class="custom-btn" (click)="goTo('tv')" #tvBTN>TV Shows</button>
    </div>
    <div class="page-info">
      <input #pageNum type="number" class="page-input" [value]="currentPage" min="1"
      [max]="totalPages"  />
      / {{totalPages}}
    </div>
  </div>


  @if (currentPage > totalPages)
  {
    <div class="alert alert-danger text-center" role="alert">
      Page {{ currentPage }} does not exist. Please select a valid page number.
    </div>
  }
  @else if (filteredSearch.length === 0)
  {
    <div class="alert alert-info text-center" role="alert">
      No results found for "{{ query }}". Please try a different search term.
    </div>
  }

  @for (item of filteredSearch; track $index){
    @if (item.type === 'movie'){
      <app-movie-card [movie]="item"></app-movie-card>
    }
    @else if (item.type === 'tv'){
      <app-series-card [series]="item"></app-series-card>
    }
  }

</div>
