 <div class="card"  (click)="navigateToMovie()">
  <img [src]="movie.imageUrl" [alt]="movie.title" class="card-image" />

  <div class="card-overlay">
    <div class="card-title">{{ movie.title }}</div>

    <div class="card-rating">
      <span class="star">★</span> {{ formatRating(movie.rating) }} ({{ formatCount(movie.ratingCount) }})
    </div>

    <div class="card-info">
      {{ movie.duration }} min
    </div>

    <div class="card-subtitle text-white">
      {{ movie.hasSub ? 'Sub' : '' }}{{ movie.hasSub && movie.hasDub ? ' | ' : '' }}{{ movie.hasDub ? 'Dub' : '' }}
    </div>

    <div class="card-description">{{ movie.description }}</div>

    <div class="action-buttons">
      <div class="action-button">▶</div>
      <div class="action-button" (click)="AddToFavourite(movie.id.toString())">♥</div>
      <div class="action-button" (click)="AddToWatchList(movie.id.toString())">+</div>
    </div>
  </div>
</div>
